  <style>
     /* @font-face
      {
        font-family: 'Anaheim';
         /*remove later*/
        /*src: url('/LunarMeteorites/font/Anaheim/Anaheim-Regular.ttf');*/
      /**/

      body {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
        font-family: 'Anaheim', sans-serif;

       /* background-color: #444444;
        background-image: -webkit-gradient(linear, left top, right bottom, from(#000), to(#333)); 
        background-image: -webkit-linear-gradient(left top, #000, #333);
        background-image: -moz-linear-gradient(left top, #000, #333);*/
        
        /*background-image: url('https://farm1.staticflickr.com/15/20623103_a10bc770b1_o.jpg');*/
        /*remove later*/
        /*background-color: black;*/
        background-image: url('/lunaites/img/starrybg.jpg');
        background-size: 100%;

        }

      svg{
        position: absolute;
        display:inline-block;
       /* border-style: solid;
        border-width: 2px;
        border-color: gray;*/
      }

      #moonSVG{
        -webkit-svg-shadow: 0 0 100px #FFFFFF;
      }

      #moonContainer{
        width: 1200px;
        float:left;

       /* border-style: solid;
        border-width: 2px;
        border-color: orange;*/
      }

      #moonv2{
       /* border-style: solid;
        border-width: 2px;
        border-color: white;*/
      }

      #lunaiteinfo{
        display:inline;
        padding-top: 12px;
        width: 350px;
        height: 300px;
        font-size: 18px;
        line-height: 35px;
        float: right;
        text-align: left;
        color:gray;

       /* border-style: solid;
        border-width: 2px;
        border-color: blue;*/
      }
      

      h2{
        color: white;
      }

      .location{
        stroke-width: 10.0;
        stroke: rgba(255, 255, 255, 0.66);
        fill: rgba(255, 255, 255, 0.66);
      }

      .feature {
      fill: #1A6D06;
      stroke: #1A6D06;
      stroke-width: .5px;
      }

      .globe {
      stroke: rgba(255, 255, 255, .5);
      stroke-width: .25px;
      }

      .star {
      fill: #fff;
      stroke: rgba(255, 255, 255, .5);
      stroke-width: .25px;
      }
      </style>