body {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Anaheim', sans-serif;
  background-image: url('../img/starrybg.jpg');
  background-size: 100%;
}

svg{
  position: absolute;
  display:inline-block;
}

#moonSVG{
  -webkit-svg-shadow: 0 0 100px #FFFFFF;
}

#moonContainer{
  width: 100%;
  float:left;
}

#moonv2 circle{
  margin-left:400px;
}

#moonv2{
  z-index: -1;
}

#lunaiteinfo{
  display:inline;
  width: 350px;
  height: 300px;
  margin-right:60px;
  margin-top:20px;
  font-size: 18px;
  line-height: 35px;
  float: right;
  text-align: left;
  color:gray;
}

h2{
  color: white;
}

.location{
  stroke-width: 10.0;
  stroke: rgba(255, 255, 255, 0.66);
  fill: rgba(255, 255, 255, 0.66);
}

.feature {
  fill: #468A37;
  stroke: #1A6D06;
  stroke-width: .5px;
}

.globe {
  stroke: rgba(255, 255, 255, .5);
  stroke-width: .25px;
}

.star {
  fill: #fff;
  stroke: rgba(255, 255, 255, .5);
  stroke-width: .25px;
}

.lunaiteTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}


#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}

#tooltip.hidden {
    opacity: 0;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
